

#body{
    font-family: 'Noto Sans JP', sans-serif;
}

#main{
    transition:1s;
}

#header{
    transition:1s;
}

#bottom{
    transition:1s;
}

#footer{
    transition:1s;
}

.header-wrapper{
    width:65%;
    height:auto;
    margin:0 auto;
    border-radius:5px;
}

.header-container{
    width:auto;
    height:auto;
    padding-top:3px;
    padding-bottom: 3px;
    text-align: center;
}

.top-wrapper{
    width:90%;
    margin:0 auto;
    border-radius:5px;
}

.top-container{
    width: auto;
    margin: 30px 30px;
    padding-top:3px;
    padding-bottom:15px;
}

.bottom-wrapper{
    width:90%;
    margin:0 auto;
    border-radius:5px;
}

.bottom-container{
    width:auto;
    margin: 30px 30px;
    padding-top:3px;
    padding-bottom:15px;
}

.showcolorpalette{
    padding: 5px 15px 5px 15px;
    margin: 3% 0 3% 0;
    width:190px;
    display:block;
    background-color:#f4f5f4;
    border-radius:5px;
}

.showcolorpalette p{
    text-align: center;
    color:black;
}

.your-color-palette {
    width:100%;
    text-align: center;
}

.palette-wrapper{
    width:100%;
    height:287px;
    display:block;
}

.palette-one{
    height:287px;
    width:25%;
    float:left;
}

.palette-two{
    height:287px;
    width:25%;
    float:left;
}

.palette-three{
    height:287px;
    width:25%;
    float:left;
}

.palette-four{
    height:287px;
    width:25%;
    float:left;
}

.footer-wrapper{
    width:65%;
    height:100%;
    margin:0 auto;
    margin-top:80px;
    border-radius:5px;
}

.footer-container{
    width:100%;
    height:110px;
    padding-top:3px;
    padding-bottom: 110px;
    text-align: center;
}

.fa-twitter-square{
    color:black;
    padding: 0 15px 0 0;
}

.fa-github-square{
    color:black;
    padding: 0 0 0 15px;
}

.icon{
    display:block;
    float:left;
    position: relative;
    left: 39%;
}

.icons{
    display: inline-block;
    position:relative;
    transform: translateX(-39%);
}

body {
    width: 100wh;
    height:90vh;
	color: #fff;
	background: linear-gradient(-45deg, #000000, #444444, #aaaaaa, #ffffff);
	background-size: 800% 800%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#palette-all{
    display:none;
}



